.formulario-contacto {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
}

h2 {
    text-align: center;
    color: #ffda9e;
    text-decoration: underline;
    font-size: 55px;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

hr {
    height: 2px;
    background-color: #ff5500;
    border: none;
}

.formulario-contacto label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.formulario-contacto input:focus,
.formulario-contacto textarea:focus {
    outline: none;
    border-color: #ff5500;
    box-shadow: 0 0 5px rgba(255, 85, 0, 0.5);
}

.formulario-contacto button {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-contacto button:hover {
    background-color: #e64700;
}

.formulario-contacto input[type="text"],
.formulario-contacto textarea {
    background-color: #fff;
    color: #000;
}

.notificacion {
    position: fixed;
    top: 10px;
    right: -100%;
    background-color: red;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    transition: right 1s;
    border-radius: 8px;
    border-top-right-radius: 0;
}

.notificacion.mostrar {
    right: 10px;
    background-color: #4caf50;
}
.notificacion.mostrarError {
    right: 10px;
    background-color: #cf493f;
}