<app-carrito></app-carrito>
<hr>
<h2>Catálogo.</h2>
<div class="catalogo-container">
    <div class="filtros">
        <h2>Filtros</h2>
        <div class="filtro-precio">
            <label for="filtroPrecio">Ordenar por precio:</label>
            <select id="filtroPrecio" [(ngModel)]="filtroPrecio">
                <option value="asc">Menor a mayor</option>
                <option value="desc">Mayor a menor</option>
            </select>
        </div>
        <div class="filtro-marca">
            <label for="filtroMarca">Filtrar por marca:</label>
            <select id="filtroMarca" [(ngModel)]="filtroMarca">
                <option value="">Todas las marcas</option>
                <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
            </select>
        </div>
        <div class="filtro-talle">
            <label for="filtroTalle">Filtrar por marca:</label>
            <select id="filtroTalle" [(ngModel)]="filtroTalle">
                <option value="">Todos los talles</option>
                <option *ngFor="let talle of talles" [value]="talle">{{ talle }}</option>
            </select>
        </div>
        <button class="boton-aplicar" (click)="aplicarFiltros()">Aplicar cambios</button>
        <button class="boton-reset" (click)="resetFiltros()">Resetear filtros</button>
    </div>
    <div class="catalogo">
        <div class="producto" *ngFor="let producto of productosFiltrados">
            <h3>{{ producto.brand }} {{ producto.name }}</h3>
            <hr>
            <p>Precio: {{ producto.price }}</p>
            <img [src]="producto.image" alt="{{ producto.name }}" min-width="140px">
            <br>
            <button (click)="addToCart(producto)" class="agregar-al-carrito"><ng-icon name="bootstrapCart3"></ng-icon></button>
        </div>
    </div>
</div>
